.navbarWrapper {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbarScrolled {
  background-color: rgba(11, 11, 31, 0.85) !important;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f3f1f1 !important;
}

.navLink {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #f7f6f6 !important;
  margin: 0 25px;
  padding: 5px 0;
  transition: color 0.1s ease;
  text-decoration: none;
}

.button {
  color: #f3f1f1 !important;
}

.navLink:hover {
  color: #ffffff !important;
}

.navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #00aaff;
  transition: width 0.3s ease-in-out;
}

.navLink:hover::before {
  width: 100%;
}


.offcanvasMenu {
  width: 60vw !important;
  max-width: 320px;

  background-color: rgba(15, 23, 42, 0.85) !important;
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvasTitle {
  color: #ffffff !important;
}
.offcanvasMenu :global(.btn-close) {
  filter: invert(1) grayscale(100%) brightness(200%);
}

@media (max-width: 991.98px) {
  .navLinks {
    padding-top: 15px;
  }
  .navLink {
    margin: 0;
    padding: 12px 0;
    text-align: center;
    width: 100%;
  }
  .navLink::before {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .navLink:hover::before {
    width: 50px;
  }
}